.leva-check-buttons {
  &__button-group {
    display: flex;
    align-items: center;

    .leva-button-custom {
      position: relative;
    }

    .leva-button-custom:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .leva-button-custom:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .leva-button-custom:not(:last-child):not(:first-child) {
      border-radius: 0;
    }
    .leva-button-custom:not(:last-child) {
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: -0.5px;
        top: 0;
        height: 100%;
        border-right: 1px solid rgba(white, 0.1);
        z-index: 1;
      }
    }
  }
}
