.resizable {
  outline: 1px solid rgba(black, 0.1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
  // margin-left: 20px;
  // margin-top: 20px;

  .resizeHandle,
  .moveHandle {
    z-index: 3;
    transition: all 150ms;
    opacity: 0;
    left: calc(100% - 12px);
    top: calc(100% - 12px);
    position: absolute;
    transform: translate(-50%, -50%) scale(0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 1px 5px rgba(black, 0.3);
  }

  .resizeHandle {
    cursor: nwse-resize;
    :global(.MuiSvgIcon-root) {
      transform: rotate(-45deg);
    }
  }

  .moveHandle {
    cursor: move;
    :global(.MuiSvgIcon-root) {
      transform: rotate(-45deg) scale(0.75);
    }
  }

  &:hover {
    .resizeHandle,
    .moveHandle {
      opacity: 1;
      background-color: #50565f;
      color: white;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      outline: 1px solid rgba(#83888e, 1);
      transform: translate(-50%, -50%);
    }
  }

  &.disableResize:not(.disableMove) {
    .handle {
      pointer-events: none;
    }

    .moveHandle {
      pointer-events: all;
    }
  }
}

.handle {
  z-index: 1;

  &Corner {
    z-index: 2;
  }

  &TopLeft {
    transform: translate(
      calc(-1 * var(--extend-bound-left, 0px)),
      calc(-1 * var(--extend-bound-top, 0px))
    );
  }

  &TopRight {
    transform: translate(var(--extend-bound-right, 0px), calc(-1 * var(--extend-bound-top, 0px)));
  }

  &BottomLeft {
    transform: translate(calc(-1 * var(--extend-bound-left, 0px)), var(--extend-bound-bottom, 0px));
  }

  &BottomRight {
    transform: translate(var(--extend-bound-right, 0px), var(--extend-bound-bottom, 0px));
  }

  &Left {
    height: calc(100% + var(--extend-bound-top, 0px) + var(--extend-bound-bottom, 0px)) !important;
    transform: translate(
      calc(-1 * var(--extend-bound-left, 0px)),
      calc(-1 * var(--extend-bound-top, 0px))
    );
  }

  &Right {
    height: calc(100% + var(--extend-bound-top, 0px) + var(--extend-bound-bottom, 0px)) !important;
    transform: translate(var(--extend-bound-right, 0px), calc(-1 * var(--extend-bound-top, 0px)));
  }

  &Top {
    width: calc(100% + var(--extend-bound-left, 0px) + var(--extend-bound-right, 0px)) !important;
    transform: translate(
      calc(-1 * var(--extend-bound-left, 0px)),
      calc(-1 * var(--extend-bound-top, 0px))
    );
  }

  &Bottom {
    width: calc(100% + var(--extend-bound-left, 0px) + var(--extend-bound-right, 0px)) !important;
    transform: translate(calc(-1 * var(--extend-bound-left, 0px)), var(--extend-bound-bottom, 0px));
  }
}
