.leva-vector-new {
  &__input-wrapper {
    display: flex;
    gap: var(--leva-space-colGap);

    div:nth-child(2),
    div:nth-child(3) {
      flex: 1;
    }
  }

  &__joystick {
    position: relative;
    width: var(--leva-sizes-rowHeight);
    height: var(--leva-sizes-rowHeight);
    background-color: var(--leva-colors-elevation3);
    border-radius: 100%;
    cursor: crosshair;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: var(--leva-colors-accent2);
    }

    &-pop {
      width: var(--joystick-size);
      height: var(--joystick-size);
      opacity: 1;
      position: fixed;
      left: var(--root-center-x);
      top: var(--root-center-y);
      z-index: 999999;
      transform: translate(-50%, -50%);
      cursor: crosshair;

      &-bg {
        position: absolute;
        inset: 0;
        background-color: var(--leva-colors-elevation1);
        border: 1px solid var(--leva-colors-highlight1);
        box-shadow: var(--leva-shadows-level2);
        border-radius: 100%;
      }

      canvas {
        transform-origin: 0 0;
      }

      &-value {
        font-size: 12px;
        font-family: monospace;
        color: var(--leva-colors-highlight3);
        background-color: rgba(black, 0.5);
        backdrop-filter: blur(2px);
        padding: 4px 8px;
        position: absolute;
        top: 0;
        left: 50%;
        width: max-content;
        border-radius: var(--leva-radii-sm);
        transform: translate(-50%, calc(-100% - 6px));
      }
    }
  }
}
