.leva-button-custom {
  padding: 0px 8px;
  border-radius: var(--leva-radii-sm);
  background: var(--leva-colors-elevation3);
  display: inline-flex;
  border: none;
  color: var(--leva-colors-highlight2);
  height: 20px;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--intent {
    &-danger {
      background: #7e1818;
      color: #ffbaba;
    }

    &-primary {
      background: var(--leva-colors-accent1);
      color: #b9d3fe;
    }
  }

  &:active,
  &--active {
    color: var(--leva-colors-highlight3);
  }
}
