.leva-image-upload {
  $s: &;

  div:first-child {
    padding-top: 4px;
    align-items: flex-start;
  }

  &--disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &__preview {
    width: var(--preview-width);
    height: var(--preview-height);
    border-radius: 4px;
    outline: 1px solid var(--leva-colors-highlight1);
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      inset: 0;

      background-color: var(--alpha-pattern-color-b);
      background-image: repeating-linear-gradient(
          45deg,
          var(--alpha-pattern-color-a) 25%,
          transparent 25%,
          transparent 75%,
          var(--alpha-pattern-color-a) 75%,
          var(--alpha-pattern-color-a)
        ),
        repeating-linear-gradient(
          45deg,
          var(--alpha-pattern-color-a) 25%,
          var(--alpha-pattern-color-b) 25%,
          var(--alpha-pattern-color-b) 75%,
          var(--alpha-pattern-color-a) 75%,
          var(--alpha-pattern-color-a)
        );
      background-position: 0 0,
        calc(var(--alpha-pattern-size) / 2) calc(var(--alpha-pattern-size) / 2);
      background-size: var(--alpha-pattern-size) var(--alpha-pattern-size);
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: relative;
    }
  }

  &__clearbt {
    position: absolute;
    opacity: 0;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px;
    border-radius: 100%;
    right: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__preview:hover {
    #{$s}__clearbt {
      opacity: 1;
    }
  }
  // input[type='file'] {
  //   cursor: pointer;
  //   height: 100%;
  //   display: flex;
  //   align-items: center;
  //   border-radius: var(--leva-radii-sm);
  //   line-height: 18px;
  //   padding: 4px;

  //   &::file-selector-button {
  //     display: none;
  //   }

  //   &:hover {
  //     background: var(--leva-colors-elevation3);
  //   }
  // }
}
