.leva-container {
  $s: &;

  &.leva-container--with-label {
    grid-template-columns: var(--label-width) var(--content-width, var(--leva-sizes-controlWidth));
  }

  &#{$s}--with-label#{$s}--label-vertical-align-top {
    div:nth-child(1) {
      align-items: flex-start;
      padding-top: 4px;
    }
  }
}
